
<div class="container body-content">
    <label>Puanlama</label>
    <p>
        <a href="#" onclick="openDifficultyEditForm(0,null)">Yeni Kayıt</a>
    </p>
    <table id="tblDifficulty" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Seç")
                </th>
                <th>
                    @Html.DisplayName("Tanım")
                </th>
                <th>
                    @Html.DisplayName("Derece")
                </th>
                <th>
                    @Html.DisplayName("Öğrenci Puan")
                </th>
                <th>
                    @Html.DisplayName("Öğretmen Puan")
                </th>
                <th>
                    @Html.DisplayName("Duzenle")
                </th>
                <th>
                    @Html.DisplayName("Sil")
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>





